body {
    background-color: #3a3d44;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 25px;
    font-weight: 600;
}

h2{
    font-size:16px;
    font-weight:600;
}

h3 {
    font-size: 14px;
    font-weight: 600;
}

.content{
    background-color:#f1f1f1;
    border:1px solid transparent;
    border-radius:7px;
}

.top-section {
    background-color:var(--light);
}

.second-line{
    margin-top:15px;
}

.me-image-container{
    text-align:left;
}

.me-image{
    max-width: 160px;
}

.flex-2{
    flex:2;
}

.my-row{
    padding:10px;
    border-bottom:1px solid #cdcdcd;
}
